<!DOCTYPE html>
<html>
	<head>
		<title>Arduino Create Agent - Debug</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
</html>
<body>
	<div class="container">
		<h1>Arduino Create Agent - Debug</h1>
	</div>
	<!-- Discovery -->
	<div class="container">
		<div class="row">
			<div class="col">
				<p><button class="btn btn-primary" onclick="discovery()">Discovery</button></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<pre id="discovery-req"></pre>
				</div>
			</div>
			<div class="col">
				<pre id="discovery-code"></pre>
			</div>
		</div>
	</div>
	<hr>
	<!-- Connect -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="connect-port">Port</label>
					<input type="text" class="form-control" id="connect-port" required value="/dev/ttyACM0">
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="connect-baud">Baud</label>
					<input type="number" class="form-control" id="connect-baud" placeholder="9600" value="9600">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p><button class="btn btn-primary" onclick="connect()">Connect</button></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<pre id="connect-req"></pre><br>
				<div id="connect-form" class="input-group" hidden=true>
					<input type="text" class="form-control" id="connect-msg" placeholder="" value="">
					<button class="btn btn-primary" onclick="send()">Send</button>
				</div>
			</div>
			<div class="col">
				<pre id="connect-code"></pre>
			</div>
		</div>
	</div>
	<hr>
	<!-- Tools -->
	<div class="container">
		<div class="row">
			<div class="col">
				<p><button class="btn btn-primary" onclick="tools()">Installed Tools</button></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<pre id="tools-req"></pre>
				</div>
			</div>
			<div class="col">
				<pre id="tools-code"></pre>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="install-packager">Packager</label>
					<input type="text" class="form-control" id="install-packager" required value="arduino">
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="install-name">Name</label>
					<input type="text" class="form-control" id="install-name" required value="avrdude">
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="install-version">Version</label>
					<input type="text" class="form-control" id="install-version"value="latest">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p><button class="btn btn-primary" onclick="install()">Install</button></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<pre id="install-req"></pre>
				</div>
			</div>
			<div class="col">
				<pre id="install-code"></pre>
			</div>
		</div>
	</div>


	<script>
function discovery() {
	var req = new Request('/v1/discover', {
		method: 'GET'
	});

	var reqEl = document.getElementById('discovery-req');
	reqEl.textContent = req.method + ' ' + req.url + '\n';
	reqEl.textContent = reqEl.textContent + '------------------------------------\n'

	fetch(req).then(function(response) {
		reqEl.textContent = reqEl.textContent + 'STATUS ' + response.status + '\n';
		reqEl.textContent = reqEl.textContent + '------------------------------------\n\n'
		return response.json();
	}).then(function (response) {
		var codeEl = document.getElementById('discovery-code');

		codeEl.textContent = JSON.stringify(response, null, 2) + '\n';
	});
}

var ws;

function connect() {
	var port = document.getElementById('connect-port').value;
	var baud = document.getElementById('connect-baud').value;

	var formEl = document.getElementById('connect-form');
	var codeEl = document.getElementById('connect-code');

	if (ws) {
		ws.onclose = function () {};
		ws.close();
	}

	codeEl.textContent = '';
	ws = new WebSocket("ws://localhost:9000/v1/connect?port=" + port + "&baud=" + baud);
	ws.onopen = function () {
		formEl.removeAttribute('hidden')
	}
	ws.onclose = function () {
		formEl.setAttribute('hidden', true)
		codeEl.textContent = codeEl.textContent + 'DISCONNECTED\n';
	}
	ws.onmessage = function (event) {
		console.debug(event.data)
		codeEl.textContent = codeEl.textContent + event.data + '\n';
	}

	ws.onerror = function (error) {
		console.error(error)
		codeEl.textContent = codeEl.textContent + 'ERROR\n';
	}

	var reqEl = document.getElementById('connect-req');
	reqEl.textContent = ws.url + '\n';
	reqEl.textContent = reqEl.textContent + '------------------------------------\n'
	console.debug(port, baud)
}

function send() {
	var msg = document.getElementById('connect-msg').value;
	ws.send(msg)
}

function tools() {
	var req = new Request('/v1/tools', {
		method: 'GET'
	});

	var reqEl = document.getElementById('tools-req');
	reqEl.textContent = req.method + ' ' + req.url + '\n';
	reqEl.textContent = reqEl.textContent + '------------------------------------\n'

	fetch(req).then(function(response) {
		reqEl.textContent = reqEl.textContent + 'STATUS ' + response.status + '\n';
		reqEl.textContent = reqEl.textContent + '------------------------------------\n\n'
		return response.json();
	}).then(function (response) {
		var codeEl = document.getElementById('tools-code');

		codeEl.textContent = JSON.stringify(response, null, 2) + '\n';
	});
}

function install() {
	var packager = document.getElementById('install-packager').value;
	var name = document.getElementById('install-name').value;
	var version = document.getElementById('install-version').value;

	var req = new Request('/v1/tools/' + packager + '/' + name + '/' + version, {
		method: 'POST'
	});

	var reqEl = document.getElementById('install-req');
	reqEl.textContent = req.method + ' ' + req.url + '\n';
	reqEl.textContent = reqEl.textContent + '------------------------------------\n'

	fetch(req).then(function(response) {
		reqEl.textContent = reqEl.textContent + 'STATUS ' + response.status + '\n';
		reqEl.textContent = reqEl.textContent + '------------------------------------\n\n'
		return response.json();
	}).then(function (response) {
		var codeEl = document.getElementById('install-code');

		codeEl.textContent = JSON.stringify(response, null, 2) + '\n';
	});
}

	</script>
</body>